body {
  margin: 0;
  padding: 100;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0) linear-gradient(100.27deg, rgb(194, 172, 233) 0.01%, rgb(110, 218, 240) 0%, rgb(131, 220, 177) 99.47%) repeat scroll 0% 0%;
  background: url(./assets/mobile.jpeg);
  background-size: cover;
  //background-position: right;
  
  width: 100%;
  height: 300vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


